@charset "utf-8";

.colum {
    font-weight: bold;
    font-size: 30px;
    margin: 0 20px 20px 0;


}

.yoko {
    display: flex;
    flex-direction: row;
}

.yoko div {
    font-size: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.yoko div:nth-child(1) {
    width: 120px;
    text-align: end;
    margin-right: 10px;
}

.yoko div:nth-child(2) {
    width: fit-content;
    display: grid;
    place-items: center;
}

.border_box {
    border: 1px solid rgb(0,0,0);
    padding: 0 20px;
    height: 30px;
}

table {
    width: 1000px;
}

th, td {
    width: auto;
    min-width: 100px;
    text-align: center;
    white-space: nowrap;
}

.bt {
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 10px;
}